---
layout: default
title: Heritage Heating and Plumbing
name: home
---

<!-- Header -->
<div class="px-3 mb-5">
  <div
    class="container max-w-7xl mx-auto lg:py-8 lg:flex justify-center items-center"
  >
    <div class="lg:w-1/2 text-left lg:pr-3 text-gray-800 mb-10">
      <h1
        class="font-bold text-gray-800 text-left text-4xl lg:text-6xl leading-snug xl:leading-normal max-w-lg"
      >
        Heritage <span class="text-red-500">Heating</span> &amp;
        <span class="text-blue-500">Plumbing</span>
      </h1>
      <h2 class="text-lg lg:text-xl font-medium mb-5">{{ home.tagline }}</h2>
      <p class="mb-10">{{ home.intro }}</p>
      <a
        href="/contact"
        class="bg-blue-500 text-white font-bold px-6 py-3 rounded-lg lg:text-lg inline-block hover:bg-blue-700"
      >
        Get in touch
      </a>
    </div>
    <div class="lg:w-1/2 flex items-center justify-end lg:pl-3">
      <div
        class="rounded-lg w-full h-64 md:h-80 xl:h-96 bg-gray-200 overflow-hidden lg:max-w-xl"
      >
        <img
          src="{{ home.featured_image }}"
          class="object-cover h-full w-full"
        />
      </div>
    </div>
  </div>
</div>
<!-- End Header -->

<!-- Info Points -->
{% include "./_includes/partials/info_points.html" %}

<!-- About Us -->
{% include "./_includes/partials/about_us.html" %}

<!-- Accrediations -->
{% include "./_includes/partials/accreditations.html" %}
