<div id="map" class="bg-white rounded-lg w-full h-80 lg:h-full"></div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkOO407PnT7PSxoqoi_pJftb0YiKchKig&callback=initMap&v=weekly"
  defer
></script>

<script type="text/javascript">
  let map;
  const markerLocation = { lat: 50.642545351046515, lng: -2.4764206150678207 };

  function initMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      center: markerLocation,
      zoom: 10,
    });

    const marker = new google.maps.Marker({
      position: markerLocation,
      map: map,
      icon: '/static/img/map-icon.png',
    });
  }

  window.initMap = initMap;
</script>
